body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-image: url(shop2.jpg);
    backdrop-filter: blur(5px);
}   
.loginbox{
    width: 500px;
    height: 680px;
    background: #000;
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    background: #000
}
h3{
        margin: 0;
        padding: 0 0 20px; 
        font-size: 16px;
        color: #fff;
        background: #000000
} 
option{
    margin: 0;
    padding: 0 0 20px; 
    font-size: 16px;
    color: #fff;
    background: #000000
}    

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],textarea[id="subject"],select[id="country"],input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #15a0ca;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #6bb2c7;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover
{
    color: #ffc107;
}